<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verify OTP</title>
  </head>
  <body>
    <h2>Verify OTP</h2>
    <form method="POST">
      <label for="otp">Enter OTP:</label>
      <input type="text" name="otp" id="otp" required />
      <button type="submit">Verify OTP</button>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <ul>
      {% for category, message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
  </body>
</html>
